:root {
    color: rgb(75, 40, 5);
}

@font-face {
    font-family: "Lora";
    src: url("/font/Lora.eot");
    src: url("/font/Lora.eot?#iefix")format("embedded-opentype"),
        url("/font/Lora.woff")format("woff"),
        url("/font/Lora.woff2")format("woff2"),
        url("/font/Lora.ttf")format("truetype"),
        url("/font/Lora.svg#Lora")format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@keyframes logo-footer {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: translatex(100deg);
    }

    75% {
        transform: rotate(-45deg);
    }

    100% {
        transform: translatex(-100deg);
    }

}

img {
    max-width: 100%;
}

header,
footer {
    & nav {
        & li {
            position: relative;
        }

        & a {
            color: var(--link);

        }

        & a:hover {
            color: var(--link);
            font-weight: bold;
        }

        & a:after {
            content: '';
            position: absolute;
            transform: scaleX(0);
            width: 100%;
            height: 2px;
            background-color: pink;
            transition: transform 0.25s ease-out;
            bottom: -2px;
            left: 0;
        }

        & a:hover:after {
            transform: scaleX(1);
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html {
    scroll-behavior: smooth;
}

body,
input,
textarea,
/* button, */
footer {
    font-family: 'Lora';
}

h1#H1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

ul {
    & li {
        list-style-type: none;

        & a {
            text-decoration: none;
        }
    }
}

button {
    padding: 8px;
    background: coral;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;

}

header {
    background: rgb(245, 13, 98);
    display: flex;
    align-items: center;
    position: relative;

    & #logo {
        width: 150px
    }

    & nav {
        flex-grow: 1;
        height: 100%;

        & input#hamburger {
            display: none
        }


        & ul#nav-links {
            display: flex;
            justify-content: space-around;

            & li {
                & a {}

            }
        }
    }
}



main {
    padding: 1rem 0;
    display: flex;
    margin: auto;
    max-width: 981px;
    justify-content: space-between;

    & .main_content {
        width: 80%;
        border-right: 1px solid black;
    }

    & h1 {}

    & #container {
        display: flex;
        width: 75%;
        min-height: 200px;
        margin: auto;
        gap: 20px;
        padding: 8px;
        border: 2px solid pink;
        border-radius: 8px;

        & .image {
            width: 30%;
            min-width: 150px;
            background: url('./Image/Plunie_formulaire_contact.jpg') no-repeat center center/cover;
        }

        & .content {

            & p {}

            & button {
                margin-top: 1rem;
            }
        }
    }


    & aside {
        width: 20%;
        text-align: center;
    }

}

footer {
    background: rgba(255, 127, 80, 0.541);
    padding: 4px 0;
    font-size: 0.9rem;

    & #grid {
        padding: 10px 2rem;
        display: grid;
        grid-template-areas:
            'logo nav reseaux_sociaux' 'banniere_footer banniere_footer banniere_footer';
        grid-template-columns: 1fr 2fr 1fr;


        & #logo {
            max-width: 120px;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: logo;

            & img {
                animation: logo-footer 3s ease-out;
            }


        }

        & nav#nav {
            grid-area: nav;

            & ul {
                width: fit-content;
                margin: auto;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-around;

                & li {
                    width: fit-content;

                }
            }
        }

        & #reseaux_sociaux {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;

            & a {

                & img {
                    width: 22px;
                }
            }

        }


        & #banniere_footer {
            grid-area: banniere_footer;
            display: flex;
            justify-content: center;
            gap: 0rem;
            padding: 0rem;
            font-weight: 600;

            & hr {
                width: 4px;
                height: 1px;
                border: none;
                background: black;
            }

        }
    }
}



@media screen and (max-width: 768px) {
    h1#H1 {
        font-size: 1.6rem;
    }



    main {
        flex-direction: column;
        overflow: hidden;

        & .main_content {
            width: 100%;
        }

        & aside {
            width: 100%;
            padding: 8px;
        }

    }

    footer {
        & #grid {
            grid-template-areas: 'banniere_footer' 'logo' 'reseaux_sociaux' 'nav';
            grid-template-columns: 1fr;
            grid-template-rows: 0fr 2fr 1fr 0fr;
            justify-items: center;
            padding: 0;

            & #logo {
                grid-area: logo;
            }

            & nav#nav {
                grid-area: nav;

                & ul {
                    flex-direction: row;
                    justify-content: space-around;
                    gap: 1rem;

                    & li {
                        width: fit-content;
                    }
                }
            }

            & #reseaux_sociaux {
                grid-area: reseaux_sociaux;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;

                & img {
                    width: 22px;
                }

            }


            & #banniere_footer {
                grid-area: banniere_footer;
                display: flex;
                justify-content: center;
                gap: 1rem;
                padding: 1rem;

                & hr {
                    height: 1px;
                    width: 3px;
                    background: black;
                }
            }
        }
    }

}

@media screen and (max-width: 576px) {
    header {

        & #logo img {
            max-width: 80%;
        }

        & nav {
            & input#hamburger:not(:checked)~ul#nav-links {
                height: 0%;
            }

            & input#hamburger:checked~ul#nav-links {
                height: calc(100vh - 100%);
                overflow: hidden;
            }

            & input#hamburger:checked+#menu_hamburger {
                & label {
                    & span.line:nth-child(1) {
                        transform: translateY(12px) rotate(-45deg);
                    }

                    & span.line:nth-child(2) {
                        opacity: 0;
                    }

                    & span.line:nth-child(3) {
                        transform: translateY(-12px) rotate(45deg);
                    }
                }
            }

            & #menu_hamburger {
                margin-right: 10vw;

                & label {
                    display: block;
                    margin-left: auto;
                    margin-right: 0;
                    width: 40px;
                    height: 60px;
                    position: relative;
                    cursor: pointer;

                    & span.line {
                        position: absolute;
                        border-radius: 8px;
                        height: 3px;
                        width: 100%;
                        background: pink;
                        transition: transform 0.5s ease-out;
                    }

                    & span.line:nth-child(1) {
                        top: 12px;
                    }

                    & span.line:nth-child(2) {
                        top: 24px;
                    }

                    & span.line:nth-child(3) {
                        top: 36px;
                    }
                }
            }

            & ul#nav-links {
                background: white;
                position: absolute;
                display: flex;
                gap: 3rem;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 0;
                overflow-y: hidden;
                transition: height 0.5s ease-out;
                left: 0;
                top: 100%;
                z-index: 1;



            }
        }
    }

    footer {
        & #grid {
            grid-template-areas: 'logo' 'nav' 'banniere_footer' 'reseaux_sociaux';
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 2fr 1.5fr 0fr;
            padding: 0;

            & #logo {
                grid-area: logo;
                width: 91%;
                height: 100%;
            }

            & nav#nav {
                grid-area: nav;

                & ul {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    & li {
                        width: fit-content;
                    }
                }
            }

            & #reseaux_sociaux {
                background: white;
                height: 10vh;
                min-height: 50px;
                grid-area: reseaux_sociaux;
                justify-content: space-around;
                gap: 0;
                width: 100%;
                position: fixed;
                bottom: 0;
                left: 0;


                & img {
                    width: 30px;
                }

            }


            & #banniere_footer {
                grid-area: banniere_footer;
                justify-content: center;
                gap: 1rem;
                padding: 0rem;
                width: 91%;
                height: 100%;
            }
        }
    }

}